<html>

<head>
    <title>Edit Form</title>
</head>

<body style="background-color:rgb(193, 255, 201);">
    <fieldset style="width: 28%; font-size:x-large; margin-left:32%;">
        <legend>Edit Form</legend>

        <form method="post">
            Name <input type="text" value="{{mydatas.name}}" name="txt1" style="float: right;"> <br><br>
            Email <input type="email" value="{{mydatas.email}}" name="email1" style="float: right;"> <br><br>
            Contact <input type="number" value="{{mydatas.contact}}" name="con1" style="float: right;"> <br><br>


            <input type="submit" value="Submit">
        </form>
    </fieldset>
</body>

</html>