<html>

<head>
    <title>Form</title>
</head>

<body style="background-color:rgb(193, 255, 201);">
    <fieldset style="width: 28%; font-size:x-large; margin-left:32%;">
        <legend>Signup Form</legend>

        <form method="post">
            Name <input type="text" name="txt1" style="float: right;"> <br><br>
            Email <input type="email" name="email1" style="float: right;"> <br><br>            
            Contact <input type="number" name="con1" style="float: right;"> <br><br>

            {{!-- Password <input type="password" name="pass1" style="float: right;"> <br><br>
            Confirm Password <input type="password" name="pass2" style="float: right;"> <br><br> --}}
            {{!-- File <br><br><input type="file" name="file123"> <br><br> --}}

            <input type="submit" value="Submit">
        </form>
    </fieldset>
    <br>
    <center><a href="/table" style="font-size: x-large;">Go to table</a></center>
</body>

</html>