<html>

<head>
    <title>Home Page</title>
    <style>
        body {
            font-size: x-large;
        }

        a:hover {
            color: red;
        }
        b:hover{
            color: red;
        }
    </style>
</head>

<body style="background-color:rgb(193, 255, 201);">

    <br>
    <center>Hello <b>{{email}}</b>, Welcome in the Home Page...</center>
    <br>
    <center>
        <a href="/change-password">Change Password</a> &nbsp;&nbsp;&nbsp;
        <a href="/logout">Logout</a>
    </center>

    <br>
    <center><a href="/login" style="font-size: x-large;">Go to Login</a></center>
</body>

</html>