<br>
<div style="padding-left: 82%;">
    <a href="/users" class="btn btn-primary btn">Users Details</a>
    <button class="logout btn-danger btn" type="submit">Logout</button>
</div>
<br><br>
<h1 style="text-align: center;">Add new user</h1>

<div class="col-6" style="margin: auto;">
    <div class="row-6">

        <form method="post" id="form" name="form">

            <div class="mb-3">
                <label for="name" class="form-label">User Name</label>
                <input type="text" class="name form-control" id="name" name="name">
            </div><br>

            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="email form-control" id="email" name="email">
            </div><br>

            <div class="mb-3">
                <label for="contact" class="form-label">User Contact</label>
                <input type="number" class="contact form-control" id="contact" name="contact">
            </div><br>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="password form-control" id="password" name="password">
            </div><br>

            <button type="submit" id="btn" name="btn" class="btn btn-primary">Add user</button>
            <div class="btns"></div>

        </form>
        <br><br>

    </div>
</div>


<script src="/js/addUser.js"></script>




{{!--
<script src="/public/js/bootstrap.js"></script> --}}