<html>

<head>
    <title>Form</title>
</head>

<body style="background-color:rgb(193, 255, 201);">
    <fieldset style="width: 28%; font-size:x-large; margin-left:32%;">
        <legend>Change Password</legend>

        <form method="post">                    
            Old Password <input type="password" name="opass" style="float: right;"> <br><br>   
            New Password <input type="password" name="npass" style="float: right;"> <br><br>   
            Confirm Password <input type="password" name="cpass" style="float: right;"> <br><br>   

            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </form>
    </fieldset>
    <br>
    <center><a href="/login" style="font-size: x-large;">Go to Login</a></center>
</body>

</html>