<html>

<head>
    <title>Forgot password</title>
    <style>
        a {
            font-size: large;
        }
    </style>
</head>

<body style="background-color:rgb(193, 255, 201);">
    <fieldset style="width: 28%; font-size:x-large; margin-left:32%;">
        <legend>Forgot Password</legend>

        <form method="post">
            <br>
            Email <input type="email" name="email1" style="float: right;"> <br><br>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </form>

    </fieldset>
    <br>
    <center><a href="/login" style="font-size: x-large;">Go to Login</a></center>
</body>

</html>