<html>

<head>
    <title>Edit Record</title>
</head>

<body style="background-color:rgb(193, 255, 201);">
    <table>
        <tbody>
            <tr>
                <td>ID</td>
                <td>:</td>
                <td> {{data._id}} </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>:</td>
                <td> {{data.name}} </td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>:</td>
                <td> {{data.contact}} </td>
            </tr>
        </tbody>
    </table>
</body>

</html>