<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <form method="post">
            Color : <input type="text" name="txt2" id="txt2">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>