<html>

<head>
  <title>Form</title>
</head>

<body>
  <form method="post">
    Name: <input type="text" name="name">
    Contact: <input type="number" name="contact">
    Email: <input type="email" name="email"><br><br>

    <input type="submit" value="Submit">
  </form>
</body>

</html>