<html>

<head>
    <title>Change Password</title>
</head>

<body>
    <form method="post">
        Old Password: <input type="password" name="opass">
        New Password: <input type="password" name="npass">
        Confirm Password: <input type="password" name="cpass">
        <br><br>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
</body>

</html>