<html>

<head>
    <title>Edit Form</title>
</head>

<body style="background-color:rgb(193, 255, 201);">
    <fieldset style="width: 28%; font-size:x-large; margin-left:32%;">
        <legend>Edit Form</legend>

        <form method="post">
            Name <input type="text" value="{{data.name}}" name="name" style="float: right;"> <br><br>
            Contact <input type="number" value="{{data.contact}}" name="contact" style="float: right;"> <br><br>
            Email <input type="email" value="{{data.email}}" name="email" style="float: right;"> <br><br>

            <input type="submit" value="Submit">
        </form>
    </fieldset>
</body>

</html>