<html>

<head>
    <title>Edit Form</title>
</head>

<body>
    <form method="post">
        Name: <input type="text" value="{{data.name}}" name="name"> <br><br>
        Contact: <input type="number" value="{{data.contact}}" name="contact"> <br><br>
        Email: <input type="email" value="{{data.email}}" name="email"> <br><br>

        <input type="submit" value="Submit" onclick="window.location='display';">
    </form>
</body>

</html>