<b style="font-size: xx-large;">Hello {{email}}, Welcome in the Home Page...</b>
<br><br>

<a href="/change-password" style="font-size: larger;">Change Password</a> &nbsp;&nbsp;&nbsp;
<a href="/logout" style="font-size: larger;">Logout</a> &nbsp;&nbsp;&nbsp;

<br><br>
<a href="/login" style="font-size: larger;">Go to Login</a> &nbsp;&nbsp;&nbsp;
<a href="/display" style="font-size: larger;">Display Data</a> &nbsp;&nbsp;&nbsp;