{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<br>
<a href="/signup">Signup</a> &nbsp;&nbsp;&nbsp;
<a href="/login">Login</a> &nbsp;&nbsp;&nbsp;
<a href="/Home">Home</a> &nbsp;&nbsp;&nbsp;
<a href="/change-password">Change-password</a> &nbsp;&nbsp;&nbsp; --}}


<html>

<head>
    <title>Handlebars</title>
    <style>
        body {
            font-size: larger;
        }

        a {
            color: red;
            font-weight: 700;
            font-size: x-large;
        }

        a:hover {
            color: rgb(38, 0, 255);
        }
    </style>
</head>

<body style="background-color:rgb(193, 255, 201); text-align: center;">
    <h1>{{title}}</h1>
    <h2>Welcome to {{title}}</h2>
    <a href="/home">Home</a> &nbsp;&nbsp;
    <a href="/users">Users</a> &nbsp;&nbsp;
    <a href="/signup">Signup</a> &nbsp;&nbsp;
    <a href="/login">Login</a> &nbsp;&nbsp;
    <a href="/change-password">Change Password</a> &nbsp;&nbsp;
    <a href="/display">Display</a> &nbsp;&nbsp;

    <h2>
        <p> Handlebars is a simple templating language.

            It uses a template and an input object to generate <br> HTML or other text formats. Handlebars templates look
            like regular text with embedded <br> Handlebars expressions.
            A handlebars expression is a "{ }". When the template is <br> executed, these
            expressions are replaced with values from an input object.
        </p>
    </h2>

    <br><br><br>
    <img src="/images/about.jpg" height="360px">


</body>

</html>