{{!-- <html>

<head>
  <title>Form</title>
  <link>

</head>

<body>
  <form method="post">
    Name: <input type="text" name="name"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Contact: <input type="number" name="contact"> &nbsp;&nbsp;
    Email: <input type="email" name="email"> <br><br>
    Password: <input type="password" name="password"> &nbsp;
    DOB: <input type="date" name="date"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Gender : <input type="radio" name="gender" id="male" value="male">Male
    <input type="radio" name="gender" id="female" value="female">Female <br><br>

    <input type="submit" value="Submit">
  </form>

  <a href="/display">Display data</a>
</body>

</html> --}}


<html>

<head>
  <title>Form</title>
</head>

<body style="background-color:rgb(193, 255, 201);">
  <br><br>
  <fieldset style="width: 28%; font-size:x-large; margin-left:32%;">
    <legend>Signup Form</legend>

    <form method="post">
      Name <input type="text" name="txt1" style="float: right;"> <br><br>
      Contact <input type="number" name="con1" style="float: right;"> <br><br>
      Email <input type="email" name="email1" style="float: right;"> <br><br>
      Password <input type="password" name="pass1" style="float: right;"> <br><br>

      Gender
      <label style="float: right;">Female</label>
      <input type="radio" id="male" name="gender" value="male" style="float: right;">
      <label style="float: right;">Male</label>
      <input type="radio" id="female" name="gender" value="female" style="float: right;">
      <br><br>
      DOB <input type="date" name="dob1" style="float: right;"> <br><br>
      {{!-- Are you admin ?
      <select name="admin1" style="float: right;">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select> --}}
      {{!-- <br><br> --}}

      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
    </form>
  </fieldset>
  <br>
  <center><a href="/login" style="font-size: x-large;">Go to Login</a></center>
</body>

</html>