<html>

<head>
    <title>Form Data</title>
    <style>
        body{
            font-size: x-large;
        }
    </style>
</head>

<body>
    Welcome in the EJS. <br><br>
    First Name is <%=a%> <br><br>
        Last Name is <%=b%> <br><br>
            Final String is <%=c%>

</body>

</html>