<html>
    <head>
        <title>Simple Form</title>
    </head>
    <body>
        <form method="post">
            First Name : <input type="text" name="txt1">
            Last Name : <input type="text" name="txt2">

            <!-- First Num : <input type="number" name="num1">
            Second Num : <input type="number" name="num2"> -->

            <input type="submit" value="Submit">
        </form>
    </body>
</html>