<html>

<head>
    <title>Login Page Data</title>
    <style>
        body {
            font-size: x-large;
        }
    </style>
</head>

<body>
   <!-- <b> Login Page Data </b><br><br>
   <b> Email Id is : </b> <%=a%> <br><br>
   <b> Password is : </b> <%=b%> <br><br> -->
   <b><%=msg%></b> <br><br>

</body>

</html>