<html>
    <head>
        <title>Signup Form</title>
    </head>
    <body>
        <form method="post">
            First Name : <input type="text" name="txt1"> <br><br>
            Last Name : <input type="text" name="txt2"> <br><br>
            Email : <input type="email" name="email1"> <br><br>
            Contact : <input type="number" name="num1"> <br><br>
            Country : <input type="text" name="txt3"> <br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>