{{>contact}}

<body>
    <div id="menu-wrapper">
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="/">Homepage</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/photos">Photos</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </div>
        <!-- end #menu -->
    </div>
    <div id="header-wrapper">
        <div id="header">
            <div id="logo">
                <h1><a href="#">Contact</a></h1>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <!-- end #header -->
        <div id="page-bgtop"></div>
        <div id="page">
            <div class="contact-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118765.20724738027!2d70.36756894714364!3d21.530711325005473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3958018c6a277f53%3A0x13b52f8520a86e48!2sJunagadh%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1628770322240!5m2!1sen!2sin"
                    width="100%" height="400" style="border:2px;" allowfullscreen="" loading="lazy">
                </iframe>
            </div>
            <!-- <div><img src="images/pics01.jpg" width="920" height="300" alt="" /></div> -->
            <div id="content">
                <div class="post">
                    <br>
                    <h2 class="title"><a href="#">Address : </a></h2>
                    <h3>A-1,&nbsp;&nbsp;&nbsp; Balaji &nbsp;&nbsp;Bungalows,&nbsp;&nbsp; Near &nbsp;&nbsp; Gandhi
                        &nbsp;Chowk, &nbsp;&nbsp;Junagadh
                        <br> Gujarat, &nbsp;&nbsp;India
                    </h3>
                    <div style="clear: both;">&nbsp;</div>
                    <div class="entry">
                        <p>

                        </p>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="post">
                    <!-- <h2 class="title"><a href="#">Contact Form</a></h2> -->
                    <br>
                    <fieldset>
                        <legend>Contact us</legend>
                        <form method="POST">
                            <table>
                                <tr>
                                    <td>First Name :</td>
                                    <td><input type="text" name="fname" required></td>
                                </tr>
                                <tr>
                                    <td>Last Name :</td>
                                    <td><input type="text" name="lname" required></td>
                                </tr>
                                <tr>
                                    <td>Email :</td>
                                    <td><input type="email" name="email" required></td>
                                </tr>
                                <tr>
                                    <td>Contact :</td>
                                    <td><input type="number" required></td>
                                </tr>
                                <tr>
                                    <td>Gender : </td>
                                    <td>
                                        <input type="radio" name="gender" required>Male
                                        <input type="radio" name="gender" required>Female
                                    </td>
                                </tr>
                            </table>
                            <input type="submit" value="Submit"
                                style="font-size: large; color :green; margin-right: 50%; padding: 5px; border-radius: 5px; background-color: black;">
                        </form>
                    </fieldset>
                    <br><br>

                    <a href="https://facebook.com" target="_blank" class="fa fa-facebook"></a>
                    <a href="https://twitter.com" target="_blank" class="fa fa-twitter"></a>
                    <a href="https://google.com" target="_blank" class="fa fa-google"></a>
                    <a href="https://linkedin.com" target="_blank" class="fa fa-linkedin"></a>

                    <div style="clear: both;">&nbsp;</div>

                </div>
                <div style="clear: both;">&nbsp;</div>
            </div>

        </div>
        <div id="page-bgbtm"></div>
        <!-- end #page -->
    </div>

    {{>footer}}