{{>css-header}}

<body>
    <div id="menu-wrapper">
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="/">Homepage</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/photos">Photos</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/signup">Sign up</a></li>
            </ul>
        </div>
        <!-- end #menu -->
    </div>
    <div id="header-wrapper">
        <div id="header">
            <div id="logo">
                <h1><a href="#">about</a></h1>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <!-- end #header -->
        <div id="page-bgtop"></div>
        <div id="page">
            <div><a href="https://nodejs.org" target="_blank"><img src="/images/about.jpg" width="920" height="400"
                        alt="python" /></a></div>
            <div id="content">
                <div class="post">
                    <h2 class="title"><a href="#">Welcome to About Us page </a></h2>
                    <h4 class="title">
                        <a href="#">Ismart is a worldwide product development and services company with a curious and
                            passionate team of software engineers, usability experts and business analysts.
                        </a>
                    </h4>
                    <br><br><br><br><br><br><br>
                    <h3 class="title"><a href="#">Our Services </a></h3>
                    <h4 class="title">
                        <a href="#">
                            Our team chases the latest technology to build the best products for you and your customers.
                            Our pursuit of better code never ends.
                        </a>
                    </h4>
                    {{!-- <br><br><br><br><br><br><br>
                    <div class="row">
                        <div class="column">
                            <a href="https://www.amazon.in/Audio-Mixer/s?k=Audio+Mixer" target="_blank"><img
                                    class="image" src="/images/audioMixer.jpg" alt="AudioMixer" style="width:100%"></a>
                        </div>
                        <div class="column">
                            <a href="https://www.gadgetsnow.com/" target="_blank"><img class="image"
                                    src="/images/gadgets.jpg" alt="CameraGadgets" style="width:100%">
                            </a>
                        </div>
                        <div class="column">
                            <a href="https://en.wikipedia.org/wiki/Burj_Al_Arab" target="_blank"><img class="image"
                                    src="/images/burjAi.jpg" alt="BurjAiArab" style="width:100%">
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            <a href="https://www.apple.com" target="_blank"><img class="image" src="/images/mac.jpg"
                                    alt="macbook" style="width:100%">
                            </a>
                        </div>
                        <div class="column">
                            <a href="https://en.wikipedia.org/wiki/Incandescent_light_bulb" target="_blank"><img
                                    class="image" src="/images/bulb.jpg" alt="light" style="width:100%; ;">
                            </a>
                        </div>
                        <div class="column">
                            <a href="https://www.toyotabharat.com/" target="_blank"><img class="image"
                                    src="/images/toyota.jpg" alt="Car" style="width:100%">
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            <a href="https://www.luminousindia.com/" target="_blank"><img class="image"
                                    src="/images/lumi.jpeg" alt="Luminous" style="width:100%"></a>
                        </div>
                        <div class="column">
                            <a href="https://www.ambicapoles.com/" target="_blank"><img class="image"
                                    src="/images/light.jpeg" alt="Bulb" style="width:100%">
                            </a>
                        </div>
                        <div class="column">
                            <a href="https://www.amazon.in/Audio-Video-Mixer-Cutter-app/dp/B091KD2QTH"
                                target="_blank"><img class="image" src="/images/controller.jpeg" alt="Controller"
                                    style="width:100%">
                            </a>
                        </div>
                    </div> --}}

                    <div style="clear: both;">&nbsp;</div>
                    <div class="entry">
                    </div>
                </div>


            </div>
            <!-- end #content -->

        </div>
        <div id="page-bgbtm"></div>
        <!-- end #page -->
    </div>

    {{>footer}}