<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <form method="post">
            <h2>Login Page</h2>
            Email : <input type="email" name="email1"> <br><br>
            Password : <input type="password" name="pass1"> <br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>