<html>
    <head>
        <title>Handlebars</title>
        <style>
            body{
                background-color: rgb(221, 255, 255);
            }
            a{
                font-size: larger;
            }
        </style>
    </head>
    <body>
        <hr><hr>
        <center>
            <h1>Welcome in the Handllebars</h1>
            <hr><hr>
            <a href="/">Home</a> &nbsp;&nbsp;&nbsp;
            <a href="/about">About</a> &nbsp;&nbsp;&nbsp;
            <a href="/contact">Contact</a>
            <hr>
            <hr>
        </center>
        {{{body}}}
        <p>This is demo template</p>
        <hr><hr>
    </body>
</html>